.octodex{
  max-width: 900px;
  max-height: 600px;
  margin: 50px;
  border: 2px solid gray;
  padding: 10px;
  position: relative;
  display: inline-block;
  overflow: auto;
}

.octocat{ 
  margin: :10px;
  box-sizing: border-box;
  display: inline-block;
  max-width: 33.33%;
  float: left;
  vertical-align: center;}

.octocat img{
  margin: 10px:;
  max-width: 200px;
  display: inline-block;
  border: 1px solid #c6c6c6;
  }

div .image-footer {
  border: 2px solid;
  height: 50px;
  display: inline-block;
  overflow: visible;
  position: relative;
}

div .image-number {
  color: #c6c6c6;
}

.image-number:before {
  content:"#";
}

div .image-caption {
  /* width*/
  text-align: center;
  line-height: 10px;
  padding-top: 10px;
  float: right;
  display: inline-block;
  border-sizing: border-box;
  position: relative;
} /* come back to this madness*/

div .image-caption a{
  color: #3a3a45;
}

div .image-caption span{
  color: #757072;
}

.octocat:after{
  content: "";
  display: inline-block;
  
}

.authors {
  display: inline-block;
}

/* assigning .authors li makes thumbnails big again making .authors img ineffective*/

.authors img{
  max-width: 40px;
  float: right;
  margin-top: 5px;
  border-radius: 7px;
}