.image-footer {
  border: 2px solid;
  height: 50px;
  overflow: visible;
}

.image-number {
  color: #c6c6c6;
}

.image-number:before {
  content:"#";
}

div .image-caption {
  text-align: center;
  line-height: 10px;
  margin-top: 10px;
  float:right;
  text-align: center;
} /* come back to this madness*/

div .image-caption a{
  color: #3a3a45;
}

div .image-caption span{
  color: #757072;
}

/*.authors ul doesn't have visible content*/

/* assigning .authors li makes thumbnails big again making .authors img ineffective*/

.authors img{
  max-width: 50px;
  float: right;
}