.image-number {
  color: #c6c6c6;
}

.image-number:before {
  content:"#";
}

div .image-caption {
  float:right;
  display:inline-block;
  text-align: center;
}

div .image-caption a{
  color: #3a3a45;
}

div .image-caption span{
  color: #757072;
}

/*.authors ul doesn't have visible content*/

/* assigning .authors li makes thumbnails big again making .authors img ineffective*/

.authors img{
  max-width: 50px;
  float: right;
}